<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>20</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>19</string>
					<key>Timestamp</key>
					<string>796740345.105638</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>GitInsight/Features/Shared/Services/AuthService.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>    private let clientSecret = "fakeee48ebef294664ed8a3a28981f1b"
</string>
				<key>leading</key>
				<string>    /// ⚠️ For production: do NOT embed secrets in the app.
    /// Keep this only for local debugging / prototype.
</string>
				<key>trailing</key>
				<string>
    private let redirectScheme = GitHubAuthConfig.callbackURLScheme   // "gitinsight"
    private let redirectURI = GitHubAuthConfig.redirectURI            // "gitinsight://oauth-callback"
</string>
			</dict>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
